<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %> avatar"
      >
    </div>
    <% } %>
    <h1>Hello <%= isSelf ? "Angler" : profile.name %>!</h1>
  <% if (profile.pbs.length)  {%>
    <h2>
      Personal Best List
    </h2>
    <% profile.pbs.forEach(personalbest => { %>
      <h4>
         Your personal best for <%= personalbest.name %> is <%= personalbest.weight %> lbs
      </h4>
      <% if (isSelf) { %> 
        <a href="/profiles/<%= profile._id %>/personalbest/<%= personalbest._id %> /edit"
          action=
          method="get">
          <button type="submit">Update <%= personalbest.name %></button>
        </a>
      <% } %> 

      <% if (isSelf) { %> 
        <a href="/profiles/personalbest/<%= personalbest._id %>?_method=DELETE" 
          action=
          method="POST"
          >
          <button type="submit">Delete <%= personalbest.name %></button>
      </a>
          
      <% } %> 
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any personal best recorded.
    </h2> 
  <% } %> 
  <% if (isSelf)  {%> 
    <h2>Record a Personal Best</h2>
    <form action="/profiles/<%= profile._id %>/personalbest" method="POST">
      <label> 
        <input type="text" name="name" autocomplete="off" placeholder="Name of Fish">
      </label>
      <label>
        <input type="number" name="weight" autocomplete="off" placeholder="Weight of Fish">
      </label>
      <button type="submit">Add Personal Best</button>
    </form>
  <% } %>
  <section class="profile-add-lake">
    <h2>Lakes that you have visited</h2>
    <ul>
      <% profile.lagoon.forEach(lakeVisit => { %>
       <li><%= lakeVisit.name %> </li>
      <% }) %>
    </ul>
    <form action="/profiles/<%= profile._id %>/lakes"/ method="post">
      <select name="lakeId">
        <% lakes.forEach(lake => { %>
         <option value="<%= lake._id %>"><%= lake.name %> 
        </option>
        <% }) %>
      </select>
      <button type="submit">Add Lake To Your Profile</button>
    </form>

  </section>

</main>



<%- include('../partials/footer') %>
      