<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<%- include('../partials/nav') %>


<main class="profile-main">
  <section class="avatar-section">
  <% if (profile.avatar) { %>
    <div class="image-greeting">
      <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %> avatar"
      >
      <% } %>
      <h1>Hello <%= isSelf ? "Angler" : profile.name %>!</h1>
    </div>
  </section>
  <section class="top-details-profile">
    <% if (profile.pbs.length)  {%>
    <h1 class="add-pages-header">
      Personal Best List
    </h1>
    <% profile.pbs.forEach(personalbest => { %>
      <h4>
         Your personal best for <%= personalbest.name %> is <%= personalbest.weight %> lbs
      </h4>
      <div class="pb-btn-grp">
      <% if (isSelf) { %> 
          <a href="/profiles/<%= profile._id %>/personalbest/<%= personalbest._id %> /edit"
            action=
            method="get">
            <button type="submit" id="pb-edit-btn"><i class="fas fa-pen-to-square"></i> <%= personalbest.name %></button>
          </a>
        <% } %> 

        <% if (isSelf) { %> 
          <a href="/profiles/personalbest/<%= personalbest._id %>?_method=DELETE" 
            action=
            method="POST"
            >
            <button type="submit" id="pb-edit-btn"><i class="fas fa-trash-can"></i> <%= personalbest.name %></button>
        </a>
        <% } %> 
      </div>   
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any personal best recorded.
    </h2> 
  <% } %> 
  <div class="record-pb-form">
  <% if (isSelf)  {%> 
    <h2>Record a Personal Best</h2>
    <form action="/profiles/<%= profile._id %>/personalbest" method="POST">
      <label> 
        <input type="text" name="name" autocomplete="off" placeholder="Name of Fish">
      </label>
      <label>
        <input type="number" name="weight" autocomplete="off" placeholder="Weight of Fish">
      </label>
      <button type="submit">Add Personal Best</button>
    </form>
  <% } %>
</div>
</section>
  <section class="add-fish-list">
    <h1 class="add-pages-header">Lakes that you have visited</h1>
    <ul class="lake-list">
      <% profile.lagoon.forEach(lakeVisit => { %>
       <li id="lake-show-list"><%= lakeVisit.name %> </li>
      <% }) %>
    </ul>
    <form action="/profiles/<%= profile._id %>/lakes"/ method="post">
      <select name="lakeId">
        <% lakes.forEach(lake => { %>
         <option value="<%= lake._id %>"><%= lake.name %> 
        </option>
        <% }) %>
      </select>
      <button type="submit">Add Lake To Your Profile</button>
    </form>

  </section>

</main>



<%- include('../partials/footer') %>
      