<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <p>View list of fish to ensure it is not already added. 
  <select>
    <% fishes.forEach(function(fish) { %>
      <option><%= fish.name %> </option>
      <% }) %>
    </select>
  </p>
  <form action="/fishes" method="post">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Fish</button>
  </form>
  </main>
    
     

<%- include('../partials/footer') %>