<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
<h1>Edit <%= lake.name %> </h1>
<form action="/lakes/<%= lake._id %>?_method=PUT" method="post">
  <label id="add-lake-input">
    <input type="text" name="name" value="<%= lake.name %>" autocomplete="off">
  </label><br>
  <label id="add-lake-input">
    <input type="text" name="state" value="<%= lake.state %>" autocomplete="off">
  </label><br>
  <label id="add-lake-input">
    <input type="text" name="acres" value="<%= lake.acres %>" autocomplete="off">
  </label><br>
  <label>Is this lake public?
    <select name="public">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </label><br>
  <button type="submit">Submit Edit</button>
</form>
</main>

<%- include('../partials/footer') %>