<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Discover Lakes</h1>
  <form action="/lakes/new" method="GET">
    <button type="submit">
      <i class="fas fa-circle-plus" ></i>
    </button>
  </form>
  <ul>
  <% lakes.forEach(lake => { %>
    <li>
      <a href="/lakes/<%= lake._id %>">
        <%= lake.name%>,&nbsp<%= lake.state %> 
      </a>
    </li>      
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
      

