<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<header>
  <div class="card bg-dark text-white">
    <img src="https://i.imgur.com/EoVpasK.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
</header>
  

<section>
  <h1>Discover Lakes</h1>
  <form action="/lakes/new" method="GET">
    <button type="submit">
      <i class="fas fa-circle-plus" ></i>
    </button>
  </form>
  <ul class="lake-list">
  <% lakes.forEach(lake => { %>
    <li id="lake-list-width">
      <a href="/lakes/<%= lake._id %> " id="list-font">
        <%= lake.name%>,&nbsp<%= lake.state %> 
      </a>
    </li>      
  <% }) %>
  </ul>
</section>




