<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<header id="main-header">
  <div class="card bg-dark text-white">
    <img src="https://i.imgur.com/EoVpasK.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <div class="card-title">
      <h1>Welcome to</h1>
      <h1 id="h1-logo">FreshAnglr</h1>
      </div>
      <h3 class="card-text">Discover and add fresh lakes across the country. We are a free site for local fishing anglers to add their wealth of fishing knowledge to specific lakes. Fish fresh. Fish local. Fish with FishAnglr!</h3>
    </div>
      
  </div>
</header>
  
<main>
  <section id="mainSec">
    <h1 id="mainH1">Discover and add fresh lakes from across the United States.</h1>
    <ul class="lake-list">
    <% lakes.forEach(lake => { %>
      <li id="lake-list-width">
        <a href="/lakes/<%= lake._id %> " id="list-font">
          <%= lake.name%>,&nbsp<%= lake.state %> 
        </a>
      </li>      
    <% }) %>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>


