<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Details provided by angler, <%= lake.owner.name %>. </p>
  <h3><%= lake.name %> </h3>
  <h3><%= lake.state %> </h3>
  <h3><%= lake.acres %> Acres</h3>
  <h3>Public? <%= lake.public %> </h3>
  <div class="details-edit-sec">
    <% if (lake.owner.equals(user?.profile._id)) { %> 
      <form action="/lakes/<%= lake._id %>/edit" method="get">
        <button class="btn" type="submit">Edit Lake</button>
      </form>
    <% } %> 
  </div>
</section>

<%- include('../partials/footer') %>