<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="top-details">
    <h4>Details provided by angler, <%= lake.owner.name %>. </h4>
    <h1><%= lake.name %> </h1>
    <h1>State: <%= lake.state %> </h1>
    <h1><%= lake.acres %> Acres</h1>
    <h1>Public? <%= lake.public %> </h1>
      <% if (lake.owner.equals(user?.profile._id)) { %> 
        <form action="/lakes/<%= lake._id %>/edit" method="get">
          <button type="submit" class="details-btn">Edit Lake</button>
        </form>
      <% } %> 
   

  </section>
  <section class="add-fish-list">
    <h1 class="add-pages-header">Fish That Have Been Caught At This Lake</h1>
    <ul class="lake-list">
    <% lake.pisces.forEach(fishCaught => { %>
      <li id="lake-show-list"><%= fishCaught.name %> </li>
      <% }) %>
    </ul>
    <form action="/lakes/<%= lake._id %>/fishes " method="post">
      <select name="fishId">
        <% fishes.forEach(fish => { %>
        <option value="<%= fish._id %>"><%= fish.name %> 
        </option>
        <% }) %>
      </select>
      <button type="submit">Add Fish to Lake</button>
    </form>
    
    <h1 class="add-pages-header">Add Insights To This Lake</h1>
    <form 
      id="add-review-form"
      action="/lakes/<%= lake._id %>/reviews"
      method="POST"
    >
      <label for="content-textarea"></label>
      <textarea name="content" id="content-textarea" placeholder="Insight"></textarea>
      <button type="submit">Add Insight</button>
    </form>
    <% if (lake.reviews.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <% lake.reviews.forEach(function(review) { %>
            <tr>
              <td><%= review.createdAt.toLocaleDateString() %></td>
              <td><%= review.content %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No Insights Yet</h3>
    <% } %>
  </section>

</main>


<%- include('../partials/footer') %>