<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Details provided by angler, <%= lake.owner.name %>. </p>
  <h3><%= lake.name %> </h3>
  <h3><%= lake.state %> </h3>
  <h3><%= lake.acres %> Acres</h3>
  <h3>Public? <%= lake.public %> </h3>
  <div class="details-edit-sec">
    <% if (lake.owner.equals(user?.profile._id)) { %> 
      <form action="/lakes/<%= lake._id %>/edit" method="get">
        <button class="btn" type="submit">Edit Lake</button>
      </form>
    <% } %> 
  </div>

</section>
<section class="add-fish-list">
  <h1>Fish That Have Been Caught At This Lake</h1>
  <ul>
  <% lake.pisces.forEach(fishCaught => { %>
    <li><%= fishCaught.name %> </li>
    <% }) %>
  </ul>
  <form action="/lakes/<%= lake._id %>/fishes " method="post">
    <select name="fishId">
      <% fishes.forEach(fish => { %>
       <option value="<%= fish._id %>"><%= fish.name %> 
      </option>
      <% }) %>
    </select>
    <button type="submit">Add Fish to Lake</button>
  </form>
  
</section>

<section class="reviews">
  <h2>Reviews</h2>
  <form 
    id="add-review-form"
    action="/lakes/<%= lake._id %>/reviews"
    method="POST"
  >
    <label for="content-textarea">Review:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <button type="submit">Add Review</button>
  </form>
  <% if (lake.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% lake.reviews.forEach(function(review) { %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.content %></td>
            <td><%= review.rating %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
</section>


<%- include('../partials/footer') %>